.shopex-offer-card{
    text-align: center;
    height: 320px;
    padding: 55px 25px;
    box-shadow: 0px 0px 8px 3px #ebebeb;
}

.shopex-offer-card h3{
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-size: 22px;
    color: #151B75;
}
.shopex-offer-card h6{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 16px;
    color: rgba(26, 11, 91, 0.3);
}