.shipping-form div input {
    border: 1px solid #cacaca;
    border-radius: 5px;
    height: 35px;
    width: 100%;
    margin: 5px 5px;
    padding: 0 8px;
    font-size: 14px;
    outline: none;
}

.react-tel-input {
    margin: 5px 5px;
}

.react-tel-input .form-control {
    width: 100%;
}

.save-continue-btn {
    background-color: #FB2E86;
    color: #fff;
    border: none;
    margin: 5px 5px;
    padding: 0 8px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
}

.save-continue-btn:hover {
    transition: 0.3s;
    background-color: #e0317d;
}