.featuredCard {
    height: 385px;
    background-color: #FFFFFF;
    margin: 1px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.fCard-header {
    height: 260px;
    background-color: #F6F7FB;
}

.view-details-link {
    text-decoration: none;
}

.fpd-view-dtails,
.f-cartIcon,
.f-heartIcon,
.f-searchPlus {
    display: none;
}

.f-img-btn {

    height: 200px;
}

.f-card-img {
    padding-top: 37px;
    height: 150px;
    width: auto;
}

.fCard-footer .rectangleColor span {
    height: 4px;
    width: 14px;
    border-radius: 10px;
}

.fCard-footer .rectangleColor span:nth-child(1) {
    background-color: #05E6B7;
    margin-right: 4px;

}

.fCard-footer .rectangleColor span:nth-child(2) {
    background-color: #F701A8;
    margin-right: 4px;
}

.fCard-footer .rectangleColor span:nth-child(3) {
    background-color: #00009D;
}

/* ---------------Hover------------- */
.featuredCard:hover {
    color: #FFFFFF;
    background-color: #2F1AC4;
    transition: 0.5s ease;
}

.featuredCard:hover .f-cartIcon,
.featuredCard:hover .f-heartIcon,
.featuredCard:hover .f-searchPlus {
    display: block;
    padding: 5px;
}

.featuredCard:hover .f-cartIcon:hover,
.featuredCard:hover .f-heartIcon:hover {
    display: block;
    background-color: #e2e4fa;
    padding: 5px;
    border-radius: 50%;
}

.featuredCard:hover .f-searchPlus:hover {
    display: block;
    background-color: #e2e4fa;
    padding: 5px;
    border-radius: 50%;
}

.featuredCard:hover .f-card-img {
    padding-top: 0px;
}

.featuredCard:hover .fpd-view-dtails {
    display: block;
    background-color: #08D15F;
    border-color: #08D15F;
    color: #FFFFFF;
}

.featuredCard:hover .fCard-header {
    background-color: #F7F7F7;
}

.featuredCard:hover .fCard-footer .rectangleColor span:nth-child(3) {
    background-color: #FFEAC1;
}