.Heading-Bar {
    background-color: #7E33E0;
    height: 44px;
    width: 100%;
    color: white;
    font-family: 'Josefin Sans';
    font-size: 16px;
    line-height: 19px;
}

#sm-dvice-hide {
    display: flex;
}

.badge {
    font-family: monospace;
    background-color: #FB2E86;
    border-radius: 50%;
    font: 16px;
    position: absolute;
    top: 2px;
    margin-left: 10px;
    z-index: 12;
}



/*--------------Medea Queries-----------------
/* ------------Mobile Devices--------------*/
@media only screen and (max-width: 688px) {
    .Heading-Bar {
        height: auto;
    }

    #sm-dvice-hide {
        display: none;
    }

}